          Now you should see a Dashboard page with your new app.
        </p>
        <ol>
          <li>Copy the red text labelled: <span class="callout">API Key</span></li>
        </ol>
      </section>
      <section>
        <h2 class="section-header">
           4. Update your .env file
        </h2>
        <p>
          Return to your Glitch project. 
        </p>
        <ol>
          <li>Find a file called <span class="callout">.env</span> in your project.</li>
          <li>Paste the API key on the line with the text: <span class="callout">GIPHY_KEY=</span></li>
        </ol>
      </section>
      <section>
        <h2 class="section-header">
           5. Confirm that your .env is set up correctly
        </h2>
      <% if (!success) { %>
        <form method="POST" action="/test" id="test">
          <button type="submit">Did it work?</button>
          <span class="test-alert"><%= text %></span>
        </form>
      <% } %>
       <% if (success) { %>
        <p>🎉🎉🎉 Congrats! It worked! 🎉🎉🎉</p>
      <% } %>

      </section>
       <section>
        <h2 class="section-header">
           6. Build something great!
        </h2>
        <p>Checkout some other Glitch starter apps for inspiration on what to do next!</p>
         <ul>
           <li>Make a Discord bot <a href="https://starter-discord.glitch.me/">Discord Botkit Starter > </a></li>
           <li>Build a YTMND Clone <a href="https://gif-party.glitch.me/">Gif Party ></a></li>
           <li>Make a gif Search engine <a href="https://superhi-jiffy.glitch.me/">Jiffy Gif Search</a></li>
         </ul>
      </section>
    </main>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
